.container {
    display: grid;
    border: 1px solid black;
    grid-template: repeat(5, 50px) / repeat(5, 50px);
    gap: 20px;
    justify-items: center; /* inline axis (alineacion eje horizontal) */
    align-items: center; /* block axis (alineacion eje vertical) */
    /*justify-items/align-items alinea  lo que esta por dentro de la grid y tiene valores como start, center, end, stretch*/
}
  
.item {
    width: auto;
    height: auto;
    background-color: lightblue;
}